In [7]:
import pandas as pd

searches_file_path = 'contacts.tsv'
searches_data = pd.read_csv(searches_file_path, sep='\t')

searches_data.head(), searches_data.dtypes

searches_data

,id_guest,id_host,id_listing,ts_contact_at,ts_reply_at,ts_accepted_at,ts_booking_at,ds_checkin,ds_checkout,n_guests,n_messages
0,000dfad9-459b-4f0b-8310-3d6ab34e4f57,13bb24b8-d432-43a2-9755-5ea11b43bb69,21d2b1a2-fdc3-4b4c-a1f0-0eaf0cc02370,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-13,2014-10-15,2,13
1,00197051-c6cb-4c3a-99e9-86615b819874,46aa3897-9c00-4d76-ac66-a307593d0675,fb5ed09a-9848-4f2c-b2ef-34deb62164fb,2014-11-04 09:10:03.0,2014-11-04 09:45:50.0,2014-11-04 09:45:50.0,2014-11-04 12:20:46.0,2014-11-27,2014-11-30,1,10
2,0027538e-aa9e-4a02-8979-b8397e5d4cba,6bbb88ca-db66-48c5-9c4b-862f7706284a,d3871da6-8012-4dc4-b508-c91f2c10c297,2014-10-10 12:02:50.0,2014-10-10 15:07:01.0,NaN,NaN,2014-10-17,2014-10-19,2,3
3,0027538e-aa9e-4a02-8979-b8397e5d4cba,8772bc85-a9b7-4d85-a52d-41f3620c2912,0d9b5583-8053-4b67-adfe-8c29eb12efed,2014-10-10 15:23:53.0,NaN,NaN,NaN,2014-10-17,2014-10-19,2,2
4,0027538e-aa9e-4a02-8979-b8397e5d4cba,ac162061-55e2-4072-ac91-2e080f9581f2,ec68e0af-b0f2-42c7-b6f8-d41061c083ff,2014-10-10 15:22:26.0,2014-10-10 15:24:26.0,2014-10-10 15:24:26.0,2014-10-10 15:52:42.0,2014-10-17,2014-10-19,2,14
...,...,...,...,...,...,...,...,...,...,...,...
7818,ffe366f0-6ab6-4e94-818a-c69c125fed3c,8be6bf94-aeb3-4a51-8ac4-db60baedfea1,7732bad8-e800-49f3-8751-e7604e3fb5a3,2014-10-07 21:43:00.0,2014-10-08 08:19:33.0,2014-10-08 08:19:33.0,NaN,2014-10-17,2014-10-20,2,5
7819,ffe366f0-6ab6-4e94-818a-c69c125fed3c,b92639c1-a5a8-48f6-8484-4fe6f62d1c6d,cc3a6bd4-d64f-4cbe-b947-c36c3851b487,2014-10-13 15:38:28.0,2014-10-13 15:44:56.0,NaN,NaN,2014-10-17,2014-10-20,2,5
7820,ffe366f0-6ab6-4e94-818a-c69c125fed3c,d0b6d89a-4379-43f2-9560-4943df5b8f4f,6e5b4380-66d2-4f2a-8f89-d2794598997d,2014-10-13 15:40:49.0,2014-10-13 15:42:46.0,NaN,NaN,2014-10-17,2014-10-20,2,3
7821,ffe366f0-6ab6-4e94-818a-c69c125fed3c,f86bc9ab-e199-4254-8609-fd67d6aaed42,28caf371-6d1d-4e06-aaf1-e660966ac7a1,2014-10-07 21:30:31.0,2014-10-08 19:04:43.0,NaN,NaN,2014-10-17,2014-10-20,2,2
7822,fffea166-9432-43a7-8b1b-09d6f30c1c07,6d656267-642e-4972-bdec-a35d82b84ebb,90dddef6-23ef-4df3-b454-8fd3d0e8cade,2014-10-08 00:05:05.0,2014-10-12 20:58:12.0,NaN,NaN,2014-11-11,2014-11-18,2,2

In [8]:
def mean_agg(series):
    return series.mean()

def set_agg(series):
    result = set(series.dropna().unique())
    return ', '.join(result) if result else ''

aggregation_rules = {
    'id_host': set_agg,
    'id_listing': set_agg,
    'ts_contact_at': set_agg,
    'ts_reply_at': set_agg,
    'ts_accepted_at': set_agg,
    'ts_booking_at': set_agg,
    'ds_checkin': set_agg,
    'ds_checkout': set_agg,
    'n_guests': mean_agg,
    'n_messages': mean_agg
}

# group by id_user and apply rules
grouped_searches = searches_data.groupby('id_guest').agg(aggregation_rules)

# reset the index if needed and check output
grouped_searches.reset_index(inplace=True)
print(grouped_searches.head())

                               id_guest  \
0  000dfad9-459b-4f0b-8310-3d6ab34e4f57
1  00197051-c6cb-4c3a-99e9-86615b819874
2  0027538e-aa9e-4a02-8979-b8397e5d4cba
3  006b68ec-9374-4061-a954-6ae10f838b9e
4  006c93e2-199f-4b35-a094-4176c43034be

                                             id_host  \
0               13bb24b8-d432-43a2-9755-5ea11b43bb69
1               46aa3897-9c00-4d76-ac66-a307593d0675
2  ac162061-55e2-4072-ac91-2e080f9581f2, 8772bc85...
3  16a2ccae-60a6-445a-9cc4-8f0d83e454f2, 42bae547...
4               ee55912a-88a0-414d-aed7-7f15ce527232

                                          id_listing  \
0               21d2b1a2-fdc3-4b4c-a1f0-0eaf0cc02370
1               fb5ed09a-9848-4f2c-b2ef-34deb62164fb
2  0d9b5583-8053-4b67-adfe-8c29eb12efed, ec68e0af...
3  9d8e30e9-dcc9-4148-82f7-39f7297b48f9, f375e1c9...
4               71bca3ca-cbbf-4496-b35b-15dcc39552da

                                       ts_contact_at  \
0                              2014-10-04 16:26:28.0
1                              2014-11-04 09:10:03.0
2  2014-10-10 15:22:26.0, 2014-10-10 12:02:50.0, ...
3       2014-10-02 00:21:08.0, 2014-10-04 09:15:47.0
4                              2014-10-02 04:09:28.0

                                    ts_reply_at         ts_accepted_at  \
0                         2014-10-04 16:26:28.0  2014-10-04 16:26:28.0
1                         2014-11-04 09:45:50.0  2014-11-04 09:45:50.0
2  2014-10-10 15:24:26.0, 2014-10-10 15:07:01.0  2014-10-10 15:24:26.0
3                         2014-10-04 14:42:00.0
4                         2014-10-02 06:58:38.0

           ts_booking_at  ds_checkin ds_checkout  n_guests  n_messages
0  2014-10-04 16:26:28.0  2014-10-13  2014-10-15       2.0   13.000000
1  2014-11-04 12:20:46.0  2014-11-27  2014-11-30       1.0   10.000000
2  2014-10-10 15:52:42.0  2014-10-17  2014-10-19       2.0    6.333333
3                         2014-10-04  2014-10-05       3.0    5.000000
4                         2014-11-05  2014-11-07       2.0    2.000000

In [9]:
grouped_searches

,id_guest,id_host,id_listing,ts_contact_at,ts_reply_at,ts_accepted_at,ts_booking_at,ds_checkin,ds_checkout,n_guests,n_messages
0,000dfad9-459b-4f0b-8310-3d6ab34e4f57,13bb24b8-d432-43a2-9755-5ea11b43bb69,21d2b1a2-fdc3-4b4c-a1f0-0eaf0cc02370,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-13,2014-10-15,2.0,13.000000
1,00197051-c6cb-4c3a-99e9-86615b819874,46aa3897-9c00-4d76-ac66-a307593d0675,fb5ed09a-9848-4f2c-b2ef-34deb62164fb,2014-11-04 09:10:03.0,2014-11-04 09:45:50.0,2014-11-04 09:45:50.0,2014-11-04 12:20:46.0,2014-11-27,2014-11-30,1.0,10.000000
2,0027538e-aa9e-4a02-8979-b8397e5d4cba,"ac162061-55e2-4072-ac91-2e080f9581f2, 8772bc85...","0d9b5583-8053-4b67-adfe-8c29eb12efed, ec68e0af...","2014-10-10 15:22:26.0, 2014-10-10 12:02:50.0, ...","2014-10-10 15:24:26.0, 2014-10-10 15:07:01.0",2014-10-10 15:24:26.0,2014-10-10 15:52:42.0,2014-10-17,2014-10-19,2.0,6.333333
3,006b68ec-9374-4061-a954-6ae10f838b9e,"16a2ccae-60a6-445a-9cc4-8f0d83e454f2, 42bae547...","9d8e30e9-dcc9-4148-82f7-39f7297b48f9, f375e1c9...","2014-10-02 00:21:08.0, 2014-10-04 09:15:47.0",2014-10-04 14:42:00.0,,,2014-10-04,2014-10-05,3.0,5.000000
4,006c93e2-199f-4b35-a094-4176c43034be,ee55912a-88a0-414d-aed7-7f15ce527232,71bca3ca-cbbf-4496-b35b-15dcc39552da,2014-10-02 04:09:28.0,2014-10-02 06:58:38.0,,,2014-11-05,2014-11-07,2.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...
3278,ffc234be-ca13-4bcb-a472-1c136b800891,"1f98db75-fa8f-4654-a2c2-b70313e7c71b, 6a460cb8...","f56282e3-3575-4547-a206-97b73b128ee1, 53e37de5...","2014-10-08 16:04:17.0, 2014-10-03 11:40:29.0, ...","2014-10-08 15:38:18.0, 2014-10-08 15:38:53.0, ...","2014-10-08 19:31:19.0, 2014-10-09 10:21:33.0, ...",,"2014-10-09, 2014-10-04","2014-10-11, 2014-10-17, 2014-10-12",1.0,6.909091
3279,ffdf7f20-8d0f-4801-8f73-3b00a1bba4c3,"2a0feb74-d403-4f66-82e7-2087dae9c598, 3d5b814d...","1b375b48-1924-4111-a50e-6538bd39d4ba, 61d37df9...","2014-10-08 13:20:51.0, 2014-10-08 13:49:00.0, ...","2014-10-08 15:36:22.0, 2014-10-09 11:26:31.0, ...","2014-10-08 15:36:22.0, 2014-10-09 11:26:31.0",2014-10-15 22:15:51.0,2014-11-18,2014-11-22,2.0,5.500000
3280,ffe1316f-8628-48ff-9cec-7ae59038a231,9117bd5e-2d56-47c0-a15b-79b61b8c5835,60187530-2ddd-4824-94c1-84dac9b7368c,2014-10-01 15:38:53.0,2014-10-01 15:42:37.0,2014-10-01 21:45:56.0,,2014-11-22,2014-11-23,4.0,8.000000
3281,ffe366f0-6ab6-4e94-818a-c69c125fed3c,"76b4e24e-2b33-4acf-b688-3622675a121c, d0b6d89a...","7732bad8-e800-49f3-8751-e7604e3fb5a3, 28caf371...","2014-10-13 15:40:49.0, 2014-10-13 15:38:28.0, ...","2014-10-08 08:19:33.0, 2014-10-13 15:42:46.0, ...","2014-10-13 16:25:41.0, 2014-10-08 08:19:33.0, ...",2014-10-13 21:01:34.0,2014-10-17,2014-10-20,2.0,4.200000
3282,fffea166-9432-43a7-8b1b-09d6f30c1c07,6d656267-642e-4972-bdec-a35d82b84ebb,90dddef6-23ef-4df3-b454-8fd3d0e8cade,2014-10-08 00:05:05.0,2014-10-12 20:58:12.0,,,2014-11-11,2014-11-18,2.0,2.000000

In [10]:
grouped_searches.to_csv('contacts_preprocessed.csv')